.block
{
	display: block;
}
.hidden
{
	display: none;
}
.clear
{
	clear: both;
}
.left
{
	float: left;
}
.right
{
	float: right;
}
.center-relative
{
	margin-left: auto;
	margin-right: auto;
}
.center-absolute
{
	left: 50%;
}
.center-text
{
	text-align: center !important;
}
.absolute
{
	position: absolute;
}
.fixed
{
	position: fixed;
}
.relative
{
	position: relative;
}