.jqbar
{
    position: relative;
    top: 10px;
}
.jqbar.vertical
{
    text-align: center;
    display: inline-block;
}
.jqbar.vertical span
{
    display: block;
    font-size: 11px;
    font-weight: bold;
}
.jqbar.vertical .bar-percent
{
    font-size: 11px;
    font-weight: bold;
    position: absolute;
    height: 20px;
    margin-bottom: 5px;
    width: 100%;
}
.jqbar.vertical .bar-level-wrapper
{
    position: relative;
    display: inline-block;
    overflow: hidden;
}
.jqbar.vertical .bar-level
{
    position: absolute;

}

/*horizontal*/

.jqbar.horizontal span
{
    display: block;
    margin-left: 5px;
    font-size: 11px;
    font-weight: bold;
    -webkit-border-radius:5px ;
    -moz-border-radius: 5px;
    border-radius:  5px;

}
.jqbar.horizontal .bar-percent
{
    font-size: 11px;
    position: absolute;
    left: 10px;
    top: 10px;
    color: #F0F0F0;
    font-weight: bold;
    height: auto;
    margin-bottom: 5px;
}

#bar-1
{
    top: 20px;
}
#bar-2
{
    top: 30px;
}
#bar-3
{
    top: 40px;
}

#bar-4
{
    top: 50px;
}
#bar-5
{
    top: 60px;
}
#bar-6
{
    top: 70px;
}

#bar-7
{
    top: 50px;
    left: 100px;
}
#bar-8
{
    top: 50px;
    left: 120px;
}
#bar-9
{
    top: 50px;
    left: 140px;
}
#bar-10
{
    top: 50px;
    left: 160px;
}
#bar-11
{
    top: 50px;
    left: 180px;
}
#bar-12
{
    top: 50px;
    left: 200px;
}
.jqbar.horizontal .bar-label
{
    position: absolute;
    top: 10px;
    left: 38px;
    z-index: 1;
    color: #F0F0F0;
}

